body {
  background-color: lightgrey;
  display: flex;

  height: 100%;
  width: 100%;
}
header {
  background-color: grey;
  border-right: 1px black solid;
  display: flex;
  flex-direction: column;

  /* position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
  flex-direction: column;
  padding: 0 5px;  */
}

header div {
  width: fit-content;
  padding: 0 10px;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;

}
header a {
  text-decoration: none;
  color: black;
}
header h3{
  width: max-content;
}

main {
  min-width: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 50px 50px 50px;
}
section {
  width: 90%;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 25px 0 25px 0;
  padding: 30px;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: larger;
  color: rgb(235, 177, 19);
  font-weight: bolder;
}
h2 {
  font-size: medium;
  padding-left: 30px;
  color: blue;
}
h4 {
  font-size: medium;

  padding-left: 60px;
  color: red;
}

li {
  color: red;
  font-style: italic;
}
li h2 {
  padding: 0;
}
li h4 {
  color: darkred;
  padding: 0 10px;
}

li h4::after {
  content: ')';
  color: darkred;
}

li h4::before {
  content: '(';
  color: darkred;
}

li h2 {
  color: red;
}

.header {
  list-style-type: upper-roman;
}

.sub-header {
  list-style-type: lower-alpha;
}

span.highlight {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  background-color: aqua;
  padding: 5px;
}
.main-title {
  font-size: 4rem;
  padding-left: 30px;
  color: black;
  padding-bottom: 10px;
  margin: 20px 0 0 0;
  border-bottom: 1px solid black;
}

.imageStyle {
  width: 100%;
}
